<h1>Lets Buy this item</h1>


<%= form_for(@purchase) do |f| %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= @reservation.checkin %><br>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= @reservation.checkout %><br>
  </div>

    <div class="field">
    <%= f.label :price %><br>
    <%= "$" + @reservation.totalcost.to_s %><br>
  </div>
  <div class="field">
    <%= f.hidden_field :reservation_id, value: @reservation.id %><br>
  </div>
    <div class="field">
    <%= f.hidden_field :price, value: @reservation.totalcost %><br>
  </div>
  <div class="field">
    <div id="dropin"></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


<script type="text/javascript">
  function setupBT() {
    braintree.setup("<%=@client_token%>", 'dropin', {
      container: 'dropin'
    });
  }
  if (window.addEventListener)
    window.addEventListener("load", setupBT, false);
  else if (window.attachEvent)
    window.attachEvent("onload", setupBT);
  else window.onload = setupBT;
  </script>
