	<h1> Your Cart<h1>


    <div class="container">

		<div class="row">

			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">						
				<ul class="event-list">

				
					<% @user_total = 0 %>	
				
				<% Reservation.all.each do |rez| %>
   	 			<%if rez.user_id == current_user.id %>

					<li>
					
						
						<time datetime="2014-07-20">
						
							<span class="daytwo">$<%= rez.totalcost %>  </span>
					
						</time>
						<% @listing = Listing.find(rez.listing_id) %>
						<% if @listing.images %>
							
							<img alt="first picture"  <%= image_tag @listing.images[0].url %> 
						<%end%>
						<div class="info">
						
							<h2 class="title"><%= link_to rez.listing.name, listing_path(rez.listing_id)  %></h2>
							<p class="desc"><%= rez.checkin %></p>
							<p class="desc"><%= rez.checkout %></p>

							<p class="desc">Reserved by <%= rez.user.first_name %></p>
						</div>
					</li>
					<% @user_total = @user_total + rez.totalcost%>
				<%end%>
			<%end%>
			
				<button class="btn btn-outlined btn-theme btn-lg"> <%=link_to "Pay Now: Total $"+ @user_total.to_s,new_transaction_path %></button>

			</div>
		</div>
	</div>
