<div class="container">
    <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                	<div class="artist-data pull-left">
                    	<div class="artst-pic pull-left">
                  
                    	</div>
                        <div class="artst-prfle pull-right col-md-12 col-xs-12 col-sm-12">
                        	<div class="art-title">
                            	<%= @reservation.listing.name%>
                                <br>   
                                Total Cost: $<%=@reservation.totalcost%>
                                <br>
                                <medium> Dates </medium>
                                <span class="artst-sub"> <span class="byname"><%= @reservation.checkin%></span> 
                                 <span class="artst-sub"> <span class="byname"><%= @reservation.checkout
                                 %></span>
                                  <span class="artst-sub"> <span class="byname">Number of People Staying: <%= @reservation.people%></span>
                               
                            </div>
 
                            
                         
                        </div>
                      
                    </div>

                 </div>
                        
               
                
            </div>
</div>